html {
	background-color: #ffa8cf;
	font-family: optima, sans-serif;
}

p {

}

h1 {

}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
}

li {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #555;
	color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}